<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://leopekdatabase.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>leopekdatabase</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$leopekdatabase</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="YASA_PLContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql1.gear.host;Initial Catalog=yasapl;User ID=yasapl;Password=Rs5e7e!-6QTO;Application Name=EntityFramework" Name="Data Source=mssql1.gear.host;Initial Catalog=yasapl;User ID=yasapl;Password=Rs5e7e!-6QTO;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mssql1.gear.host;Initial Catalog=yasapl;User ID=yasapl;Password=Rs5e7e!-6QTO;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YASA_PLContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.YASA_PL.csdl|res://*/App_Code.YASA_PL.ssdl|res://*/App_Code.YASA_PL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql1.gear.host;initial catalog=yasapl;user id=yasapl;password=Rs5e7e!-6QTO;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)YASA_PLContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.YASA_PL.csdl|res://*/App_Code.YASA_PL.ssdl|res://*/App_Code.YASA_PL.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mssql1.gear.host;Initial Catalog=yasapl;User ID=yasapl;Password=Rs5e7e!-6QTO;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>